{% extends "orders/base.html" %}

{% block title %}
    Cart
{% endblock %}

{% block body%}
    <h2>Order Summary</h2>
    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Products</th>
          </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                {% if order.customer == request.user %}
                <tr>
                    <td>
                      {% for data in order.product.all %}
                      <li>{{ data.tags }} {{ data.name }} {{ data.size }} ${{ data.price }}</li>
                      {% endfor %}
                    </td>
                    <td>{{ order.product.all.price }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'initiateorder' %}"><button type="button" class="btn btn-success">Confirm</button></a>
{% endblock%}