{% extends "orders/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block body%}

    <h1>Menu</h1>
    <h3>Regular Pizza</h3>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Size</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          {% if product.tags.name == "Regular Pizza" %}
            <tr>
              <th scope="row">{{product.name}}</th>
              <td>{{ product.size }}</td>
              <td>${{ product.price }} <a href="{% url 'add' product.id %}"><button type="button" class="btn btn-primary">Add</button></a></td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
{% endblock%}
